* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(195, 228, 244);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 700px;
  width: auto;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(115, 155, 174);
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: rgb(255, 30, 98);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
  
}

.btn:hover {
  background-color: rgb(116, 7, 40);
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}

.validacion {
  display: none;
  color: red;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
}

label {
  font-size: 20px;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
}

footer {
  text-align: center;
  padding: 3px;
  color: white;
}